<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>열차 모니터링 시스템</title>
    <link rel="stylesheet" href="../static/css/view.css">
    <link rel="stylesheet" href="../static/css/chat.css">
</head>
<body>
    <div class="sidebar">
        <h2>ATI System</h2>
        <a href="/control">열차 제어</a>
        <a href="/view">열차 모니터링</a>
        <a href="/chat">챗봇</a>
        <a href="/log">작동 로그 확인</a>
    </div>
    <div class="content iframeContainer iframe16To9">
        <iframe src="https://chat.ye0ngjae.com"></iframe>
    </div>
</body>
</html>
