<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>열차 모니터링 시스템</title>
    <link rel="stylesheet" href="../static/css/view.css">
</head>
<body>
    <div class="sidebar">
        <h2>ATI</h2>
        <a href="#" onclick="showTrainControl()">열차 제어</a>
        <a href="#" onclick="showTrainMonitoring()">열차 모니터링</a>
        <a href="/chat">챗봇</a>
    </div>
    <div class="content">
        <iframe src="https://chat.ye0ngjae.com">

        </iframe>
    </div>
    <script>
        function showTrainControl() {
            alert('열차 제어 메뉴는 아직 구현되지 않았습니다.');
        }
        function showTrainMonitoring() {
            // 여기에서 추가 동작을 구현할 수 있습니다.
        }
    </script>
</body>
</html>
