<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Control Pannel</title>
</head>
<body>
    <h1>Train Control Pannel</h1>
    <p>Train 1 Speed: {{ train1 }}</p>
    <p>Train 2 Speed: {{ train2 }}</p>
    <form action="/train/1" method="post">
        <input type="text" name="speed" placeholder="Speed">
        <input type="submit" value="Train 1">
    </form>
    <form action="/train/2" method="post">
        <input type="text" name="speed" placeholder="Speed">
        <input type="submit" value="Train 2">
    </form>
</body>
</html>