<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>열차 모니터링 시스템</title>
    <link rel="stylesheet" href="../static/css/view.css">
    <script src="../static/js/view.js"></script>
</head>
<body>
    <div class="sidebar">
        <h2 id="mainTitle" style="cursor: pointer;">ATI System</h2>
        <a href="/control">열차 제어</a>
        <a href="/view">열차 모니터링</a>
        <a href="/chat">챗봇</a>
        <a href="/log">시스템 로그</a>
    </div>
    <div class="content" id="video">
        <h1>열차 모니터링</h1>
        <div id="train1" class="train-image">
            <img src="/train1" alt="Train 1" onerror="this.onerror=null; this.src='../static/img/notfound.jpg';" width="400" height="400"/>
        </div>
        <div id="train2" class="train-image">
            <img src="/train2" alt="Train 2" onerror="this.onerror=null; this.src='../static/img/notfound.jpg';" width="400" height="400"/>
        </div>
    </div>
</body>
</html>
